<h1><%= @user.name %></h1>

<%= @user.email %>
<hr />

<%= model_date(@user) %>

<% if !@user.created_events.empty? %>
    <%= render "shared/show_events", events: @user.created_events, title: "Created" %>
<% end %>  

<% if !@user.attendent_events.empty? %>
    <%= render "shared/show_events", events: @user.attendent_events, title: "Attendent" %>
<% end %>
