<h1><%= @user.name %></h1>

<%= @user.email %>
<hr />

<p><i><%= model_date(@user) %></i></p>



<% if !@user.created_events.empty? %>
    <%= render "shared/show_events", events: @user.created_events.order(created_at: :desc), title: "Created" %>
<hr />

<% end %>  




<% if !@user.attended_events.empty? %>
    <%= render "shared/show_events", events: 
                                         @user.attendent_events.order(created_at: :desc), title: "Attended" %>
<hr />

<% end %>



<% if !Invitation.where(invited_id: @user.id, accepted: false, rejected: false).empty? %>
    <%= render "shared/show_invitations", invitations: 
              @user.inviters.where(accepted: false, rejected: false).order(created_at: :desc), title: "Received" %>
<hr />

<% end %>


<% if !Invitation.where(invited_id: @user.id, accepted: true).empty? %>
    <%= render "shared/show_invitations", invitations: 
                              @user.inviters.where(accepted: true).order(created_at: :desc), title: "Accepted" %>
<hr />

<% end %>


<% if !@user.inviters.where(reject: true).empty? %>
    <%= render "shared/show_invitations", invitations: 
                              @user.inviters.where(rejected: true).order(created_at: :desc), title: "Rejected" %>
<hr />

<% end %>


<% if !@user.invitings.empty? %>
    <%= render "shared/show_invitations", invitations: 
                                                   @user.invitings.order(created_at: :desc), title: "Sended" %>
<% end %>

