<h1><%= @user.name %></h1>

<%= @user.email %>
<hr />

<%= model_date(@user) %>

<% if !@user.created_events.empty? %>
    <%= render "shared/show_events", events: @user.created_events.order(created_at: :desc), title: "Created" %>
<% end %>  

<hr />

<% if !@user.attendent_events.empty? %>
    <%= render "shared/show_events", events: 
                                         @user.attendent_events.order(created_at: :desc), title: "Attendent" %>
<% end %>

<hr />

<% if !@user.inviters.where(accept: false).empty? %>
    <%= render "shared/show_invitations", invitations: 
              @user.inviters.where(accept: false, reject: false).order(created_at: :desc), title: "Received" %>
<% end %>

<hr />

<% if !@user.inviters.where(accept: true).empty? %>
    <%= render "shared/show_invitations", invitations: 
                              @user.inviters.where(accept: true).order(created_at: :desc), title: "Accepted" %>
<% end %>

<hr />

<% if !@user.inviters.where(reject: true).empty? %>
    <%= render "shared/show_invitations", invitations: 
                              @user.inviters.where(reject: true).order(created_at: :desc), title: "Rejected" %>
<% end %>

<hr />

<% if !@user.invitings.empty? %>
    <%= render "shared/show_invitations", invitations: 
                                                   @user.invitings.order(created_at: :desc), title: "Sended" %>
<% end %>