<h1><%= title %> <%= pluralize(invitations.count, "Invitation") %></h1>

<ol>
    <% invitations.each do |invitation| %>
        <% if title == "Sended" %>
            <% user = User.find(invitation.invited_id) %>
        <% else %>
            <% user = User.find(invitation.inviter_id) %>
        <% end %>
        <% event = Event.find(invitation.event_id) %>
        <% color = "black" %>
        <% if invitation.rejected? %>
            <% color = "red" %>
        <% elsif invitation.accepted? %>
            <% color = "green" %>
        <% end %>
        <span style=<%= color %>><li>
            <p>User name: <%= user.name %> - Email: <%= user.email %> | <%= Event.find(invitation.event_id).name %></p>
            <p>Created events: <b>(<%= user.created_events.count %>)</b> - 
             Attended events: <b>(<%= user.attended_events.count %>)</b></p>
            <p>Sended invitations: <b>(<%= user.invitings.count %>)</b> | 
                         Accepted: (<%= Invitation.where(inviter_id: user.id, accepted: true).count %>) - 
                         Rejected: (<%= Invitation.where(inviter_id: user.id, rejected: true).count %>)</p>
            <p>Received invitations: <b>(<%= user.inviters.count %>)</b> | 
                           Accepted: (<%= Invitation.where(invited_id: user.id, accepted: true).count %>) - 
                           Rejected: (<%= Invitation.where(invited_id: user.id, rejected: true).count %>)</p>
            <% if title == "Received" && current_user == User.find(params[:id]) %>
                <%= form_for(:accept_form, :action => :handle_forms ) do |f| %>
                    <%= f.hidden_field :form_name, value: "accept_invitation" %>
                    <%= f.hidden_field :event_id, value: invitation.event_id %>
                    <%= f.hidden_field :inviter_id, value: invitation.inviter_id %>
                    <%= f.submit :Accept %>
                <% end %>
                <%= form_for(:reject_form, :action => :handle_forms ) do |f| %>
                    <%= f.hidden_field :form_name, value: "reject_invitation" %>
                    <%= f.hidden_field :event_id, value: invitation.event_id %>
                    <%= f.hidden_field :inviter_id, value: invitation.inviter_id %>
                    <%= f.submit :Reject %>
                <% end %>
            <% end %>
            <% action_name_i = title == "Sended" ? "sended as" : "received by" %>
            <% if Event.find(invitation.event_id).creator.id == invitation.inviter_id  %>
                <em>Invitation <%= action_name_i %> event creator.</em>
            <% end %>
        </li></span>
        <hr />
    <% end %>
</ol>